<div class="category-header">
    <h1>Select category</h1>
    <i class="fas fa-arrow-down"></i>
</div>

<div class="category-container">
    <div class="category">
        <div class="category-img">
            <a href="/products/headphones">
                <img src="/static/images/headphones.jpg" alt="" />
            </a>
        </div>
        <div class="category-title">
            <h1>Headphones</h1>
            <p>{{totalHeadphones}} products</p>
        </div>
    </div>
    <div class="category">
        <div class="category-img">
            <a href="/products/mouse">
                <img src="/static/images/mouse.webp" alt="" />
            </a>
        </div>
        <div class="category-title">
            <h1>Mouses</h1>
            <p>{{totalMouses}} products</p>
        </div>
    </div>
    <div class="category">
        <div class="category-img">
            <a href="/products/keyboard">
                <img src="/static/images/keyboard.avif" alt="" />
            </a>
        </div>
        <div class="category-title">
            <h1>Keyboards</h1>
            <p>{{totalKeyboards}} products</p>
        </div>
    </div>
</div>